.course-header {
  height: 1.5rem;
}

.course-header h1 {
  float: left;
  color: #FA5A5B;
  font-size: 1.5rem;
}

.course-header h2 {
  float: right;
  font-style: italic;
  color: rgb(88, 88, 88);
  font-size: 1rem;
  padding-top: 9px;
}

.course-header h3 {
  float: left;
  color: rgb(200, 200, 200);
  font-size: 1.2rem;
  margin-top: -10px;
}

#course-tabs-header {
  color: red;
  width: 500px;
  margin-top: -10px;
}

#course-content {
  margin-left: 30px;
}
