#edit-user-header {
  color: #FA5A5B;
  align-items: center;
}

#edit-paragraph-user {
  width: 50%;
  position: absolute;
  height: 100%;
  margin-left: 30%;
  top: 5rem;
  color: #FA5A5B;
}

#edit-paragraph-user .remove-button {
  float: right;
  color: red;
  cursor: pointer;
  margin-right: 10rem;
}

#edit-paragraph-user .remove-button:hover {
  border-bottom: 1px solid red;
}

#edit-user-name {
  height: 20px;
}

#edit-user-class {
  height: 20px;
}

#edit-user-id {
  height: 20px;
}
