.right-bar {
  position: absolute;
  top: 120px;
  right: 0px;
  height: 100%;
  z-index: 10;
}

.right-bar-list {
  width: 7rem;
  margin: auto;
  padding: 0;
  font-size: 1.2rem;
}

.right-bar-button {
  cursor: pointer;
  background-color: #FA5A5B;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  color: white;
  font-weight: bold
}
