#sure-modal {
  background-color: white;
  position: absolute;
  top: 25%;
  left: 40%;
  padding: 1rem;
}

#sure-modal h1 {
  color: #FA5A5B;
}

#sure-modal button {
  color: #FA5A5B;
  width: 100%;
  transition-duration: 0.4s;
  background-color: white;
  border: none;
  height: 40px;
  cursor: pointer;
  border: 1px solid #FA5A5B;
}

#sure-modal button:hover {
  color: white;
  background-color: #FA5A5B;
}
